
charset-normalizer 2.0.12
click              8.0.3
colorama           0.4.4
distlib            0.3.4
docopt             0.6.2
filelock           3.6.0
Flask              2.0.3
idna               3.3
itsdangerous       2.1.0
Jinja2             3.0.3
MarkupSafe         2.1.0
pip                22.0.3
pipreqs            0.4.11
platformdirs       2.5.0
requests           2.27.1
six                1.16.0
urllib3            1.26.8
virtualenv         20.13.1
Werkzeug           2.0.3
yarg               0.1.9
